html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: transparent;
}

body{
    background-color: white;
}

.main{
    margin-bottom:-200px;
}
.feed-title{
    font-style:normal;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:-5px;
    margin-bottom: 10px;
}
.video-title{
    margin-left: 10px;
    font-style:normal;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}

.app__mainpage {
    display: flex;
  }
  
  a {
    text-decoration: inherit;
    color: inherit;
  }
  
  .loading {
    display: block !important; 
    width: 50%;
    margin: auto;
  }